body{
    background-color: rgb(18, 18, 18);
}
.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    background-color: rgb(18, 18, 18);
    padding-bottom: 1vh;
    background-size: 10%;
    background-position: left top;
    
}
#pageHelp{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
}
.pageDescr{
    width: 100%;
}
.imgAbout{
    width: 350px;
    height: 800px;
    border-radius: 5px;
    
}
h1{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Bodoni Moda', serif;
    background-color: white;
    color: black;
}
p{  
    font-size: 17px;
    margin: 5%;
}
h2{
    display: flex;
    align-items: flex-start;
    width: 95%;
    padding-left: 5%;
    font-family: 'Bodoni Moda', serif;
    
}

@media screen and (max-width: 900px) {

    #pageHelp{
        flex-direction: column;
        
    }
    .imgAbout{
        width: 200px;
        height: 100%;
    }

}