.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    min-height: 100vh;
    background-color: black;
    padding-bottom: 1vh;
    background-size: 10%;
    background-position: left top;
    
}
.imgAbout{
    width: 300px;
    border-radius: 100%;
}
h1{
    display: flex;
    width: 100%;
    justify-content: center;
}
p{
    font-size: 17px;
    margin: 5%;
}
h2{
    display: flex;
    align-items: flex-start;
    width: 95%;
    padding-left: 5%;
}