form div{
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    margin-bottom: 5%;
}
form div input{
    margin-left: 10px;
    width: 120px;
}

@media screen and (max-width: 800px) {
    form div{
        flex-direction: column;
        margin-top: 10px;
    }
}